<div class="col-md-4 top-space">
<h3><%= link_to article.title, article %></h3>
<%= article_cover article.cover.url %>
	<div class="box relative article-height" style="text-align: justify; padding-top: 0px; padding-bottom: 5rem;">	 
		<div style="text-align: justify; padding-top: 0px, margin-top: 0px" class="absolute">
			<p>			     
				 <% #Sanitize.fragment(truncate(article.body, length: 50, escape: false), Sanitize::Config::RELAXED).html_safe %>
				 <%# Sanitize.fragment(article.body, :tags=>[]).truncate(40, :separator => " ").html_safe %>
				 <%= article.body.html_safe %>
				<!-- Sanitize evita que se ejecute cierto codigo para mostrar en la pagina, en este caso que no ejecute scripts -->
			</p>
		</div>
	</div>
</div>	