<h1>Usuarios</h1>
<% cont = 0 %>
<% @user.each do |user| %>
		<h3><%= cont = cont + 1 %>.- <%= user.email %></h3> - <%= link_to "Editar", "/users/#{user.id}/edit", method: :get, class: "blue" %>
<% end %>