<center><h1>Administrador de Artículos</h1></center>
<div class="container" style="text-align: justify; width: 90%;">
	<% @articles.each do |article| %>
		<h1><%= link_to article.title, article %></h1> <strong>Acciones: </strong><%= link_to "Eliminar", article, method: :delete, data: { confirm: '¿Deseas eliminar el artículo?' }, class: "red" %>
		<br>
		<div>			
			<% if article.in_draft? %>
				<%= link_to "Publicar", "/articles/#{article.id}/publish", method: :put, class: "blue" %>
			<% end %>	
		</div>
	<% end %>
</div>