<h1>Editar Categoría</h1>
<div style="width: 30%; margin: 0 auto;">
	<%= render 'form', category: @category %>

	<%= link_to 'Mostrar Artículo', @category %> |
	<%= link_to 'Regresar', categories_path %>
</div>
